mixin card(data)
  article.card&attributes(attributes)
    if data.href !== ""
      a.card__link(href=data.href)
        +title({tag: "h3", text: [data.text]}).card__title.title--h3
    else
      +text([data.text])
