mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .intro__heading
        +title({tag: "h1", text: ["Задачки<br>на&nbsp;прокачку"]}).title--h1.intro__title
