.card {
  display: flex;
  height: 100%;
  min-height: 115px;
  background-color: $color-default-white;
  border-radius: 10px;
  overflow: hidden;

  @include vp-767 {
    min-height: auto;
  }

  &--grey {
    background-color: $color-gainsboro;
  }

  &--center {
    padding: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;

    @include vp-1023 {
      padding: 15px;
    }
  }

  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;

    &[href=""] {
      pointer-events: none;
    }

    @include vp-1023 {
      padding: 15px;
    }
  }
}
